<div class="container">
  <div [hidden]="loggedIn">
     <mat-grid-list cols="6" [style.margin-top]="'20px'">
        <mat-grid-tile [colspan]="1"></mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="2">
          <form  (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
              <input matInput placeholder="Username" id="username" name="username" [(ngModel)]="credential.username">
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput placeholder="Pasword" id="password" name="password"  [(ngModel)]="credential.password">
            </mat-form-field>
            <button mat-raised-button type="submit" class="mat-primary">Login</button>

          </form>
        </mat-grid-tile>
     </mat-grid-list>
  </div>

  <div [hidden]="!loggedIn">
    <h2>You have logged in Successfully!</h2>
  </div>
</div>
